[user]
	; email = mouzaisibyl@gmail.com\n
	; name = mouzaisi
    email = belliyan250@gmail.com\n
    name = krmmzs
[core]
	editor = nvim
[init]
	defaultBranch = master
[http "https://github.com"]
	proxy = socks5://127.0.0.1:7891
	proxy = https://127.0.0.1:7890
	proxy = http://127.0.0.1:7890
[push]
	autoSetupRemote = true ; https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushautoSetupRemote
[http]
	proxy = 127.0.0.1:7890
[https]
	proxy = 127.0.0.1:7890

git-delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
