*.swp
nvim/.config/coc/extensions/coc-browser-data/
tmux/.tmux/resurrect/
nvim/.config/coc/extensions/coc-java-data/
nvim/.config/coc/extensions/node_modules/
tags/
tags.lock
tags.temp
tags
nvim/.config/nvim/static
.root
tmux/.tmux/plugins/tmux-fzf
